<!DOCTYPE html>
{% load staticfiles %}

<html>

  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">

          {# Home Link / Admin Link / Register Link#}


            {# Logic on what to display for last item#}
          <li><a class="navbar-brand" href="{% url 'welcome-user' %}">Home</a></li>

          {% if user.is_authenticated %}
              <li><a class="navbar-link" href="#" style="color: orangered">{{ request.user }}</a></li>
              <li><a class="navbar-link" href="{% url 'user-logout' %}">Logout</a></li>

          {% else %}
            <li><a class="navbar-link" href="{% url 'user-login' %}">Login</a></li>
            <li><a class="navbar-link" href="{% url 'register' %}">Register</a></li>
          {% endif %}

        </ul>
      </div>
    </nav>
    <div class="container">

    {% block content %}

    {% endblock %}

    </div>

  </body>

</html>


